<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.docdigital_app">

    <!-- PERMISSÃO PARA INTERNET (ACESSAR BACKEND) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- PERMISSÃO PARA USAR A CÂMERA -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- PERMISSÃO PARA NOTIFICAÇÕES (ANDROID 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="DocDigital"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- META-DATA DO FLUTTER -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- NECESSÁRIO PARA PROCESSAR TEXTO -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
